@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

h1, h2, h3, p{
    font-family: 'Poppins';
}



@layer base {
  body {
    @apply bg-slate-500 text-slate-500 tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold 
  }

  p{
    @apply text-white
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl 
  }


  li {
    @apply cursor-pointer
  }

  button { 
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase  bg-gradient-to-r from-blue-100 to-blue-700
  }


}